:root {
  --black-color: #333;
  --white-color: #fff;
  --white-smoke-color: #f0f0f0;
  --blue-color: #12c9c9;
  --blue-hover-color: #46eeeeb3;
  --gray-color: #d8d8d8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--white-smoke-color);
  color: var(--black-color);
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
  letter-spacing: 0.4rem;
}
h3 {
  font-size: 1.55rem;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

a:hover {
  color: var(--blue-hover-color);
  background-color: var(--white-color);
}

ul {
  list-style: none;
}

p,
span,
li {
  font-size: 1rem;
}

p {
  text-align: justify;
}
figure {
  width: 300px;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 0.5rem 0.1rem;
  width: 100%;
}

/* Estilo Base (Mobile) */
.menu-toggle {
  display: block;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: inherit;
  top: 5px;
}

nav ul {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  width: 60%;
  background-color: var(--blue-color);
  position: absolute;
  left: 0;
  padding: 20px;
  z-index: 100;
}

nav ul.aberto {
  display: flex;
  gap: 20px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  flex-grow: 1;
}

main,
.projetos--grid,
.sobre--mim,
.educacao {
  padding: 2.5rem 1rem;
}

.sobre--mim,
.container--sobre,
.educacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--gray-color);
}

.sobre--mim,
.educacao {
  border-bottom: 1px solid var(--black-color);
}

.foto--perfil {
  border-radius: 50rem;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
  border: 1px solid var(--gray-color);
}

.educacao {
  border-bottom: 1px solid var(--black-color);
}

.educacao ol {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: disc;
}

.projetos--grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.projeto--card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/** icones rodapé **/
.fa-linkedin {
  color: #0a66c2;
}

.fa-square-github {
  color: #fff;
}

footer {
  background-color: var(--black-color);
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  flex-grow: 1;
}

footer .redes--sociais {
  margin-bottom: 10px;
}

footer p {
  font-size: small;
}

/* Responsividade */
@media (min-width: 768px) {
  nav {
    background-color: var(--blue-color);
  }
  .menu-toggle {
    display: none;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    position: static;
    width: auto;
    padding: 0;
  }
}
