:root {
  --primary-color: #f0f0f0;

  --primary-bg-color: #f5f5f5;
  --secondary-bg-color: #333;
  --primary-border-color: #28292e;
  --secondary-border-color: #56575a;

  --title-color: #333;
  --text-color: #f5f5f5;
  --link-color: #e03131;
  --icon-color: #333;
  --nav-bg-color: #12c9c9;
  --nav-hover-color: #46eeeeb3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*list-style: none;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-bg-color) transparent;*/
}

body {
  background: var(--primary-bg-color);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: var(--text-color);
  min-height: 100vh;
  line-height: 1.6;
}

/** header **/
.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--secondary-bg-color);
}

.header h1 {
  font-size: 2em;
  color: var(--text-color);
}

/** Nav link:hover **/
nav ul li a:hover {
  background-color: var(--nav-hover-color);
  border-radius: 3px;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
}

a:hover {
  color: var(--primary-color);
}

i {
  color: var(--icon-color);
}

b {
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
  font-weight: 200;
}

h2 {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.4rem;
}

h3 {
  font-size: 1.55rem;
  text-align: left;
}

h4 {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 1.15rem;
  text-align: left;
}

h1,
h2,
h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: uppercase;
  color: var(--title-color);
  font-weight: 200;
}

p,
span,
li {
  font-size: 1rem;
}

p {
  text-align: justify;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  width: 100%;
  background: transparent;
  border-radius: 3.125rem;
  border: none;
  padding: 0.875rem 1.5rem;
  transition: ease-in-out 0.3s;
  cursor: pointer;
  color: var(--primary-color);
}

.btn:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.3s;
}

.btn span,
.btn i {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.btn--primary span {
  color: var(--title-color);
}

.btn--primary {
  border: 1px solid var(--title-color);
}

.menu__item {
  width: 100%;
}

.menu__link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menu__link.active .menu__text,
.menu__link:hover .menu__text {
  color: var(--primary-color);
}

.menu__text {
  font-size: 1.05rem;
  text-transform: uppercase;
  color: var(--icon-color);
}

/********  **********/
main,
.about,
.education,
.projects,
.contact {
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/** Sobre Mim **/
.about {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  background-color: #e1e1e1;
}

.about__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.about__photo {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
  border-radius: 50rem;
  border: 1px solid var(--primary-color);
}

.about__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}

.about__description p {
  color: var(--title-color);
}

/** Meus Projetos **/

.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  background-color: #e1e1e1;
}

.projects__container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.projects__card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card__cover {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  object-position: center;
}

.card__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
}

.card__description {
  color: var(--title-color);
}

.card__list,
.about__list {
  margin-left: 1.25rem;
}

.card__item,
.about__item {
  list-style: disc;
  color: var(--title-color);
}

.card__buttons,
.description__buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card__buttons .btn {
  padding: 0.65rem 1.25rem;
}

.card__buttons .btn span {
  font-size: 1rem;
}

.card__body .technologies__list {
  gap: 0.75rem;
}

.card__body .technologies__item {
  width: 4rem;
  height: 4rem;
}

.card__body .technologies__logo {
  height: 2rem;
}

.projects .btn {
  width: auto;
  margin: auto;
}

/** Technologies **/
.technologies__list {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.technologies__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  aspect-ratio: 1/1;
  border: 1px solid #9a9a9c;
  border-radius: 50rem;
}

.technologies__logo {
  height: 2.4rem;
}

/* Back to Top Button **/
.top-arrow {
  display: block;
  right: 30px;
  bottom: 70px;
  background-color: var(--nav-bg-color);
  border-radius: 20px;
  padding: 10px;
  width: 50px;
}

.back-to-top {
  animation-name: appear;
  animation-timeline: scroll(y);
}

@keyframes appear {
  0% {
    opacity: 0;
    display: none;
    position: fixed;
  }

  3% {
    opacity: 0;
    display: none;
  }

  3.5% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 1;
    display: block;
    position: fixed;
  }
}

/** Fixed Nav when scrool y**/
.nav-fixed-top {
  animation-name: appear-nav;
  animation-timeline: scroll(y);
}

@keyframes appear-nav {
  0% {
    opacity: 1;
    display: block;
    transition: 0.75 ease;

  }

  3% {
    opacity: 1;
    display: block;
    top: 0;
    position: fixed;
    width: 100%;
  }

  3.5% {
    opacity: 1;
    display: block;
    top: 0;
    position: fixed;
    width: 100%;
  }

  100% {
    opacity: 1;
    display: block;
    top: 0;
    position: fixed;
    width: 100%;
  }
}




/** Footer **/
footer {
  background-color: var(--secondary-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 0.875rem;
  padding: 1rem;
  color: var(--text-color);
}
