:root {
  --primary-color: #f0f0f0;

  --primary-bg-color: #f5f5f5;
  --secondary-bg-color: #333;
  --primary-border-color: #28292e;
  --secondary-border-color: #56575a;

  --title-color: #333;
  --text-color: #f5f5f5;
  --link-color: #e03131;
  --icon-color: #333;
  --nav-bg-color: #12c9c9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*list-style: none;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-bg-color) transparent;*/
}

body {
  background: var(--primary-bg-color);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: var(--text-color);
  min-height: 100vh;
}

/*::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-bg-color);
  border-radius: 50rem;
}*/

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  color: var(--primary-color);
}

i {
  color: var(--icon-color);
}

b {
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.4rem;
}

h3 {
  font-size: 1.55rem;
  text-align: left;
}

h4 {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 1.15rem;
  text-align: left;
}

h1,
h2,
h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: uppercase;
  color: var(--title-color);
  font-weight: 200;
}

p,
span,
li {
  font-size: 1rem;
}

p {
  text-align: justify;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  width: 100%;
  background: transparent;
  border-radius: 3.125rem;
  border: none;
  padding: 0.875rem 1.5rem;
  transition: ease-in-out 0.3s;
  cursor: pointer;
  color: var(--primary-color);
}

.btn:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.3s;
}

.btn span,
.btn i {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.btn--primary span {
  color: var(--primary-color);
}

.btn--primary {
  border: 1px solid var(--primary-color);
}

.menu__item {
  width: 100%;
}

.menu__link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menu__link.active .menu__text,
.menu__link:hover .menu__text {
  color: var(--primary-color);
}

.menu__text {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--text-color);
}
