/* Estilo Base (Mobile) */

/* input checkbox para saber se o menu foi aberto ou não */
#sidebar-active {
  display: none;
}

.link-container {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;

  position: fixed; /* Para sobrepor conteúdo */
  background-color: var(--nav-bg-color); /* Ajusta à tua cor */
  left: -100%; /* Menu sidebar escondido a esquerda */

  padding: 20px;
  z-index: 100;
  width: 220px;

  height: 100%;
  box-shadow: 5px -5px 0 rgba(70, 238, 238, 0.5);
  transition: 0.75s ease-out;
}

.link-container a {
  box-sizing: border-box;
  height: auto;
  width: 100%;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
}

/* Esta classe será adicionada pelo JS para mostrar o menu */
.link-container.aberto {
  display: flex;
}

.open-sidebar-button,
.close-sidebar-button {
  padding: 20px;
  display: block;
}

#sidebar-active:checked ~ .link-container {
  left: 0; /* mostrar o menu sidebar a esquerda*/
}

#sidebar-active:checked ~ #overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
}

#sidebar-active:checked ~ a:active{
    height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 98;
}

/* ecrã maximo até 767 */
@media (max-width: 767px) {
  .top-arrow.back-to-top {
    display: none; /* Esconde o icone */
  }
}
